git+https://github.com/MrMKN/pyrogram                          
tgcrypto
requests
imdbpy
pymongo[srv]
motor
marshmallow
umongo
openai==0.28
bs4
python-dotenv
pytz
urllib3
pyrogram
tldextract
Flask
gunicorn
aiohttp
pip
