git+https://github.com/MrMKN/pyrogram                          
tgcrypto
requests
pymongo[srv]
motor
marshmallow
umongo
bs4
python-dotenv
pytz
io
zipfile
urllib3
pyrogram
tldextract
Flask
gunicorn
aiohttp
pip
